<!-- Extends our base template -->
{% extends "core/base_template.html" %}
{% load staticfiles %}
{% block main %}

<!-- Main Content -->
<div class="container rounded main-content p-5 mt-3">
  <h2>About Us</h2>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-7">
      <p>
        We are the Titanium Tigers, FIRST Robotics Competition (FRC)
Team 4829. We are a 30+ member team of Chapel Hill High School
students who work together to build a competition robot in six weeks
each year.
      </p>
      <p>
        We are starting the 2018-19 season strong. We won THOR, the
North Carolina FIRST Robotics pre-season tournament. The event
drew 32 teams from across North Carolina, South Carolina, and
Georgia. Along with teams from Apex and Cary, our 3-team alliance
easily went on to win the best of 3 matches in the quarter, semis,
and finals.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Team Photo">
    </div>
  </div>
</div>

{% endblock %}
