<!-- Extends our base template -->
{% extends "core/base_template.html" %}
{% load staticfiles %}
{% block main %}

<!-- Main Content -->
<div class="container rounded main-content p-5 mt-3">
  <h2>Calendar</h2>
  <hr class="featurette-divider">
  <iframe src="https://calendar.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=cq74u6qnh0frk42m7lh4uafgj0%40group.calendar.google.com&amp;color=%235F6B02&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

{% endblock %}
