body {
  background-color: #494949;
}

nav {
  background-color: #E3AB00;
}

.main-content {
  background-color: #e9ecef;
}

a {
  color: #000000;
}

a:hover {
  color: #e9ecef;
}

footer {
  color: #e9ecef;
}
